body {
font-family: monospace;
background: #FFE164;
margin-top:150px;
}
h1 {
color: white;
letter-spacing: 5px;
text-align: center;
font-size: 3em;
}

p {
font-weight: bold;
color: #1E3746;
text-align: center;
font-size: 2.5em;
}

h3 a {
padding-bottom: 3px;
margin-left: 735px;
font-size: 25px;
color: #1E3746;
text-decoration: none;
}

h3 a:hover {
color: #FFE164;
background: #F05F5A;
padding: 3px;
font-weight: bold;
}

img {
margin-left: 650px; 
}

