body {
background: #e3e3e3;
color: black;
margin-bottom: 200px;
}

.sidebar {
font-family:verdana;
position: relative;
margin-left: 300px;
margin-top: 170px; 
width: 20%;
}

.main {
font-family: sans-serif;
position: absolute;
margin-left: 600px;
margin-top:-350px;
width: 50%;
}

.sidebar ul a {
list-style-type: none;
text-decoration: none;
color: black;
}

.pic {
float: right;
margin-top: -270px;
margin-right: 200px;
}

.main h1{
font-size: 4em;
}
.main ul a {
color: green;
font-size: 15px;
text-decoration: none;
}

